body
{
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
}
div.logo h2
{
    color : #9b59b6;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px;

}
ul.socials
{
    list-style: none;

}
ul.socials li
{
    display: inline-block;
    background-color: #9b59b6;
    border: 2px solid #fff;
    border-radius: 5px ;
}
ul.socials li a
{
    color: #fff !important;

}
/* MENU */
.main-nav
{
    background-color: #9b59b6;
    border: 1px dashed #fff;
}
.navbar-toggler
{
    background-color: #fff;
}
nav .nav-item a
{
    font-size: 1.2 em;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
nav .nav-item
{
    margin-right: 30px;
    transition: background-color .3s ease;
}
nav .nav-item :hover
{
    background-color: #8e44ad;

    border-radius: 5px;
}

button.search
{
    background-color: #fff !important;
    color: #9b59b6 !important;
    border: none;
}
button.search:hover
{
    color: #8e44ad !important;
    cursor: pointer;
}
/*footer*/
.footer
{
    padding-top: 50px;
}
footer
{
    border-top: 1px solid #8e44ad;
    border-bottom: 1px solid #8e44ad;
    background-color: #fff;
    height: 60px;

}
footer ul{
    list-style: none;
}
footer ul li
{
    display: inline-block;
    margin-right: 15px;
}
footer ul li a
{
    font-size: 1.1em;
    color: #9b59b6; !important;
}
footer ul li a:hover
{
    text-decoration: none;
    color: #8e44ad !important;
    font-weight: 400;
}
footer ul li:first-child
{
    text-decoration: none;
    color: #9b59b6 !important;
    font-weight: 700;
}
/* POSTE */
div.post, .post
{
    background-color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}
h2
{
color: #9b59b6;
}
p.added
{
    width: 70%;
    border: 1px dashed #b790c7;
    padding: 10px;
    color: #d4d4d4;
    border-radius: 5px;
}
a.username
{
    text-decoration: none;
    color: #d4d4d4;
}
a.username:hover
{
    text-decoration: none;
    color: #000 !important;
}
.btn-default
{
    background-color: #b790c7;
    padding: 10px;
    color: #fff !important;
    font-size: 14px;
    border-radius: 10px;
}
.btn-default:hover
{
    background-color: #9b59b6;
}

/*comments */
.comment-username
{
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    border: 1px dotted #9b59b6;
    padding: 10px;
    margin-bottom: 20px;
}
.comment
{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}
